<!DOCTYPE html>
<html lang="en">
  <head>
    <!--app-favicon-->
    <!--app-meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title><!--app-title--></title>
    <!--app-custom-code-->
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <style>#app { width: 100vw; height: 100vh; overflow-x: hidden; overflow-y: auto; }</style>
    <!--app-style-->
    <!--app-data-->
  </head>
  <!--app-google-analytic-->
  <body>
    <div id="app"></div>
    <script type="module" src="./app.ts"></script>
  </body>
</html>
