<!DOCTYPE html>
<html lang="en">
  <head>
    <!--app-favicon-->
    <!--app-meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title><!--app-title--></title>
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <style>#app { width: 100%; height: 100vh; overflow: auto; }</style>
    <!--app-style-->
    <!--app-data-->
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="./app.ts"></script>
  </body>
</html>
