// beautiful scrollbar
$black: #000;
$white: #fff;
$tr: transparent;
$blue: #3da8f5;
$red: #d71345;
$yellow: #ffaf38;
$green: #00b281;
$cyan: #2fbdb3;
$purple: #7973c9;
$pink: #f7acbc;
$brown: #7b5d5f;
$orange: #f47920;
$roseate: #f05b72;

$black-gradient: linear-gradient(lighten($black, 7%), $black);
$white-gradient: linear-gradient(lighten($white, 7%), $white);
$blue-gradient: linear-gradient(lighten($blue, 7%), $blue);
$red-gradient: linear-gradient(lighten($red, 12%), $red);
$yellow-gradient: linear-gradient(lighten($yellow, 7%), $yellow);
$green-gradient: linear-gradient(lighten($green, 7%), $green);
$cyan-gradient: linear-gradient(lighten($cyan, 7%), $cyan);
$purple-gradient: linear-gradient(lighten($purple, 7%), $purple);
$pink-gradient: linear-gradient(lighten($pink, 7%), $pink);
$brown-gradient: linear-gradient(lighten($brown, 7%), $brown);
$orange-gradient: linear-gradient(lighten($orange, 7%), $orange);
$roseate-gradient: linear-gradient(lighten($roseate, 7%), $roseate);

$theme: #3e7ce8;
$panel: #2d2f31;
$panel-light: #5b5e64;
$panel-dark: darken($panel, 5%);
$panel-header: #404040;
$panel-sidebar: #4c4c4c;
$bg-default: #202124;
$panel-content: darken($panel, 3%);

$item-bg: $panel-header;

$theme-gradient: linear-gradient(lighten($theme, 7%), $theme);
$panel-gradient: linear-gradient(lighten($panel, 7%), $panel);
$panel-light-gradient: linear-gradient(lighten($panel-light, 7%), $panel-light);
$panel-dark-gradient: linear-gradient(lighten($panel-dark, 4%), $panel-dark);
$panel-header-gradient: linear-gradient(lighten($panel-header, 7%), $panel-header);
$panel-sidebar-gradient: linear-gradient(lighten($panel-sidebar, 7%), $panel-sidebar);
$bg-default-gradient: linear-gradient(lighten($bg-default, 7%), $bg-default);
$panel-content-gradient: linear-gradient(lighten($panel-content, 7%), $panel-content);

$color: #cecece;
$border: rgba($panel-light, 25%);

$inner-radius: 4px;
$normal-radius: 6px;
$radius: 12px;

$shadow: 0 0 20px 5px rgba(0, 0, 0, 0.16);
$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
$bulge-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.36);
$float-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36), 1px 1px 3px 0 rgb(255, 255, 255, 0.1);
$dropdown-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);

// Header
$header-height: 64px;

// 右侧配置栏变量
$config-width: 300px;
$item-gap: 2px;
$item-height: 32px;
$item-width: 120px;
$config-header-height: 54px;
$mini-header-height: 44px;
$mini-width: 44px;
$group-height: 40px;
$mini-item-height: 40px;

// 物料栏
$materials-panel-width: 320px;

// 全局设置
$font-family-panel-width: 320px;
$global-setting-panel-width: 340px;

$font-family: Avenir, Helvetica, Arial, sans-serif;

// z-index
$config-mini-panel-zIndex: 9;
$module-cover-zIndex: 1001;
$config-btn-zIndex: 3000;
$left-panel-zIndex: 4000;
$global-setting-panel-zIndex: 4001;
$modal-zIndex: 8000;
$select-zIndex: 10000;
