.ghost-clone {
  &,
  &-section {
    position: relative;
    overflow: hidden;
    transform: scaleX(0.92) !important;
    box-shadow: 0 0 6px 1px rgba($black, 0.1);
  }
  & {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
  }
  &-section {
    width: 100%;
    height: 60px;
    max-width: none;
    max-height: none;
    margin: 20px 0;
  }

  &::after,
  &-section::after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAlxJREFUWEftmL+KFEEQxr/aB/AZhO3qaEEwMDwcEPQdDoMVLjMTRC45jS4QTEQxUDA4MBP8EyginkZmlx3sViSsYGq4ILT0sTN0Dz2zRd84OyfXcMHR1V2/qeqvunoJAx80cD6cLUAR+RJGlJmL8v/a3ANmPvRzInIVwF5p17IG4Zw2c1EEVxDeoR+HNWcu2LSoAVYfxszVnm37/deA1ccNLsXasPdpd7ZU3GdktL7UKtZuGNr1quJzwIYI1FNcFukT87IY19eubo9tAEYR2arwK2w/Avge+s1SsYjcA7CvcJhj8pyZd8qFuYD+aouinUPSsCa6YnNTHAKeNA0djGQPkFVmuigf2nJ0DqhJfVtGuhBJdKg1QImyFZ3psIvqDdDXzpa62tjJ9woI4CmAbWY+0kY6JRJNw+ptkmWhyfHq9ikjdbBYLKZFUfxZB6pWsYiEb5JwX9UZrAGW6+8w86M2yE0DerafzrmptfZTCnRTKU6xvF8ulzuTyeRXONm3SCK1NqR2n5l3u2wWTnMGU4w/fMvlnHtjrX01lAi+A/B2NBp9G4/H8yGm+ICZb64VybqaVM7ndDOJMnMfgP8rxw1m9h11NDaSYiK6a4x5KCK/AVzwRET02Rhz7Z8AtkS+/iuYV/FtZn7i14jIdQAfKsUSTY0xL7s+g20nI/oVjIgu1gFExAN6UD+OjTGXiKi6AnNTrH00RYCpbmY+n28R0dfgK3eZuXqQ5QL6RkHz7KxS3BZmEXkB4BYRvXbOPT71s1Ordq3dbDa7QkSXrbXPOhGJ1nEXdlkp7sKxdo+/41ahODK0ly0AAAAASUVORK5CYII=');
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: $white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $theme-gradient;
    border-radius: $inner-radius;
    font-family: $font-family;
  }
  &::after {
    box-shadow: inset 0 0 0px 4px rgba($black, 20%);
  }
  &-section::after {
    font-size: 24px;
  }
}
.ghost-move {
  opacity: 0.6;
  outline: 2px dashed $theme;
}
.chosen-clone {
  opacity: 0.3;
}
.section-item-ghost {
  opacity: 0.5;
  background: $panel-light-gradient !important;

  .name {
    display: none !important;
  }
}
