/** 编辑窗口样式 */
.edit-section {
  // 编辑模式
  &-edit {
    .lib-component {
      position: relative;
      // transition: font-size 0.3s, box-shadow 0.2s;
      user-select: none;
      animation: none !important;

      &:not(.active):not(.inModule)::before {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        outline: 1px dashed rgba($theme, 35%);
        pointer-events: none;
        transition: outline .15s;
      }

      &:not(.active):not(.inModule):hover::before {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        outline: 1px solid rgba($theme, 60%);
        pointer-events: none;
      }

      &.active {
        position: relative;
        // cursor: default;
      }
    }
  }
  // 拖拽模式
  &-drag {
    .lib-component {
      position: relative;
      // transition: font-size 0.3s;
      animation: none !important;

      .inModule {
        pointer-events: none;
      }

      &:not(.inModule)::before {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        outline: 3px dashed rgba($theme, 65%);
        pointer-events: none;
      }

      &.text::before {
        outline: 3px dashed rgba($pink, 65%);
      }

      &.image::before {
        outline: 3px dashed rgba($green, 65%);
      }

      &.fa-icon::before {
        outline: 3px dashed rgba($orange, 65%);
      }

      &.module::before {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        color: $yellow;
        font-size: 44px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba($white, 30%);
        background: rgba($black, 50%);
        z-index: $module-cover-zIndex;
        font-family: $font-family;
      }
    }
    .moveable-control-box {
      // display: none !important;
    }
  }
  &-preview {
    .moveable-control-box {
      // display: none !important;
    }
  }
}
