/** 编辑窗口样式 */
.edit-content {
  // 编辑模式
  &-edit {
    .lib-component {
      position: relative;
      transition: font-size 0.3s, transform 0.3s, box-shadow 0.2s;

      &:not(.active):hover::before {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        box-shadow: inset 0 0 0 1px rgba($theme, 0.7);
        pointer-events: none;
      }

      &.active {
        position: relative;
        cursor: default;

        // &:not(.snapshot) {
        //   &::after {
        //     content: '';
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     width: 100%;
        //     height: 100%;
        //     pointer-events: none;
        //     outline: 3px dashed rgba($theme, 80%);
        //     box-sizing: content-box;
        //     border-width: inherit;
        //     border-color: transparent;
        //     border-style: solid;
        //     transform: translate(-50%, -50%);
        //     z-index: 999;
        //   }
        // }
      }
    }
  }
  // 拖拽模式
  &-drag {
    .lib-component {
      position: relative;
      transform: scale(0.92);
      transition: font-size 0.3s, transform 0.3s;
      z-index: 9;

      &.block::after,
      &.text::after {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        outline: 3px dashed rgba($theme, 50%);
        pointer-events: none;
      }

      &.text::after {
        outline: 3px dashed rgba($pink, 50%);
      }
    }
  }
}
