$theme: #3e7ce8;
$panel: #2d2f31;
$panel-light: #5b5e64;
$panel-header: #404040;
$panel-sidebar: #4c4c4c;

$bg-default: #202124;
$color: #cecece;
$border: rgba(#5a5a5c, 0.7);

$radius: 12px;
$shadow: 0 0 20px 5px rgba(0, 0, 0, 0.16);

$header-height: 64px;
